<persistence-unit name="testing-h2" transaction-type="RESOURCE_LOCAL">
	<description>Persistence using a built-in memory-only H2 (Hyperion)
		database
	</description>
	<validation-mode>AUTO</validation-mode>
	<properties>
		<property name="hibernate.dialect" value="org.hibernate.dialect.H2Dialect" />
		<property name="hibernate.connection.driver_class" value="org.h2.Driver" />
		<property name="hibernate.hbm2ddl.auto" value="create-drop" />
		<property name="javax.persistence.jdbc.url" value="jdbc:h2:mem:test;DB_CLOSE_DELAY=-1" />
	</properties>
</persistence-unit>